<template>
  <div>
    <div class="row">
      <h1 align="center">ChatApp</h1>
    </div>
    <v-layout row>
      <v-flex xs12 sm4 offset-sm4 class="target">
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Perfil</h3>
              <h5>{{firstName}}</h5>
              <h5>{{lastName}}</h5>
              <h5>{{username}}</h5>
              <h5>{{role}}</h5>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="blue" @click.native.stop="dialog = true">Actualizar</v-btn>
            <v-btn flat color="blue" v-on:click="deleteUser">Eliminar</v-btn>
            <v-btn flat color="blue" v-on:click="logout">Cerrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <br>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" max-width="290">
        <v-card>
          <v-card-title class="headline">Editar Perfil</v-card-title>
          <v-card-text>
            <v-text-field
              v-model="firstName"
              label="Nombre"
              required
            ></v-text-field>
            <v-text-field
              v-model="lastName"
              label="Apellido"
              required
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat="flat" @click.native="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat="flat" @click.native="dialog = false" v-on:click="updateUser">Modificar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row>
      <v-layout row>
        <v-container>
          <v-flex xs12 sm6>
            <div id="message">
              <div class="message" v-for="message in messages">
        				<strong>{{message.creator.firstName}}</strong>
        				<p>{{message.content}}</p>
        			</div>
            </div>
            <v-text-field
              v-model="content"
              label="Mensaje"
              required
              class="input-message"
            ></v-text-field>
            <v-btn color="blue" v-on:click="sendMessage">Enviar</v-btn>
          </v-flex>
        </v-container>
        <v-flex xs12 sm6>
          <v-list>
            <v-list-tile v-for="user in users" :key="user.firstName" avatar @click="viewChat(user.id)">
              <v-list-tile-content>
                <v-list-tile-title v-text="user.firstName"></v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-avatar>
                <img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg">
              </v-list-tile-avatar>
            </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-layout>
  </div>
</template>

<script>
import url from '../config';
import axios from 'axios';
export default {
  created(){
    this.getUsers();
  },
  mounted(){
    this.getProfile();
  },
  data(){
    return {
      firstName: '',
      lastName: '',
      username: '',
      role: '',
      state: true,
      dialog: false,
      content: '',
      messages: [],
      users: [],
      idUser: null,
      userTwo: null
    }
  },
  methods: {
    logout: function(){
      // const STORAGE_KEY = "logueado"
      // localStorage.setItem(STORAGE_KEY, false);
    },
    updateUser: function(){
      axios.put(url+'user', {
          "id": this.idUser,
          "firstName": this.firstName,
          "lastName": this.lastName,
          "username": "",
          "password": "",
          "state": true,
          "role": {
            "id": 1
          }
      }).then(res => {
        console.log(res.data);
        alert("Usuario Actualizado")
      })
    },
    deleteUser: function(){
      axios.delete(url+'user/' + this.idUser).then(res => {
        alert("Usuario Eliminado");
      })
    },
    sendMessage: function(){
      axios.post(url + 'message/' + this.idUser + '/' + this.userTwo + '?msg=' + this.content+'').then(res => {
        alert("Mensaje enviado");
        console.log(res.data);
      })
    },
    getMessage: function(userTwo){
      this.userTwo = userTwo;
      axios.get(url+'message/' + this.idUser +'/'+ this.userTwo).then(res => {
        this.messages = res.data.data;
      })
    },
    getUsers: function(){
      axios.get(url + 'user/active').then(res => {
        this.users = res.data.data;
      })
    },
    viewChat: function(userTwo){
      this.getMessage(userTwo);
    },
    getProfile: function(){
      this.idUser = this.$route.params.id;
      axios.get(url+'user/' + this.idUser).then(res => {
        console.log(res.data.data);
        this.firstName = res.data.data.firstName;
        this.lastName = res.data.data.lastName;
        this.username = res.data.data.username;
        this.role = res.data.data.role.name;
      })
    }
  }
}
</script>

<style>
.target{
  padding-left: 10px;
  padding-top: 10px;
}
#message{
	width: 95%;
	max-width: 400px;
	height: 350px;
	overflow-y: scroll;
	border: 1px solid #eee;
	box-shadow: 0px 0px 20px #ccc inset;
}
.message{
	margin: 20px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: white;
}
.input-message{
  width: 95%;
	max-width: 400px;
}
</style>
