<template lang="html">
  <v-container>
    <v-form>
      <v-text-field
          v-model="username"
          label="Username"
          required>
      </v-text-field>
      <v-text-field
          v-model="password"
          label="Password"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          :append-icon-cb="() => (e1 = !e1)"
          :type="e1 ? 'password' : 'text'"
          required>
      </v-text-field>
      <v-btn color="info" v-on:click="login">Ingresar</v-btn>
      <v-btn color="info" to="/register">Registrarse</v-btn>
    </v-form>
  </v-container>
</template>

<script>
import url from '../config';
import axios from 'axios';
export default {
  mounted: function(){

  },
  data(){
    return{
      username: '',
      password: '',
      e1: true
    }
  },
  methods: {
    login: function(){
      // const STORAGE_KEY = "logueado";
      // localStorage.setItem(STORAGE_KEY, true);
      let uri = url+'user/'
      axios({
        method: 'post',
        url: uri,
        headers: {
          'Content-Type': 'text/plain',
          'Accept': 'application/json',
          'username': this.username,
          'password': this.password
        }
      }).then(res => {
        this.$router.replace('home/'+res.data.data.id);
        console.log(res.data.data);
      })
    }
  }
}
</script>

<style lang="css">
</style>
