<template>
  <v-container>
    <v-form>
      <v-text-field
          v-model="firstName"
          label="Nombre"
          required>
      </v-text-field>
      <v-text-field
          v-model="lastName"
          label="Apellido"
          required>
      </v-text-field>
      <v-text-field
          v-model="username"
          label="Username"
          required>
      </v-text-field>
      <v-text-field
          v-model="password"
          label="Password"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          :append-icon-cb="() => (e1 = !e1)"
          :type="e1 ? 'password' : 'text'"
          required>
      </v-text-field>
      <v-btn color="info" v-on:click="createUser">Registrar</v-btn>
      <v-btn color="info" to="/login">Ya tienes cuenta? logueate</v-btn>
    </v-form>
  </v-container>
</template>

<script>
import url from '../config';
import axios from 'axios';
export default {
  data(){
    return{
      firstName: '',
      lastName: '',
      username: '',
      password: '',
      e1: true
    }
  },
  methods: {
    createUser: function(){
      axios.post(url+'user/create', {
        "firstName": this.firstName,
        "lastName": this.lastName,
        "username": this.username,
        "password": this.password,
        "state": true,
        "role": {
          "id": 1
        }
      }).then(res => {
        console.log(res.data);
        this.firstName = '';
        this.lastName = '';
        this.username = '';
        this.password = '';
      });
    }
  }
}
</script>

<style>
</style>
